@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f6f6f6;
}

#canvas {
    width: calc(120%);
    height: calc(120%);
    background: #f6f6f6;
    filter: blur(8px);
    cursor: none;
}

.marquee, .marquee2 {
    display: flex;
    position: absolute;
    font-size: 12vw;
    white-space: nowrap;
    text-align: center;
    color: #f6f6f6;
    z-index: 3;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -0.1em;
}

.marquee {
    animation: marquee 10s linear infinite;
}

.marquee2 {
    animation: marquee2 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes marquee2 {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}

/* hide mouse */
/* #canvas {
    cursor: none;
} */